<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% load static %}
        <link rel="stylesheet" href="{% static 'travel/css/style.css' %}">

        <title>Add Plan</title>
    </head>
    <body>
        <div id ='wrapper'>
    
            <h1>Add A Trip!</h1>
            <div class ='emessages'>

                {% if messages %}
    
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
    
                {% endif %}
        
            </div>


            <div class = 'navbar'>
                <a href="/home">Dashboard</a>
                <a href="/logout" type = 'button'>Logout</a>

            </div>

            <div class= 'add_trip'>
                <form action= "/create_trip" method ="post">

                    {% csrf_token %}
                <p>Destination:<input type="text" name="destination"></p>
                
                <p>plan:<textarea name="description" cols="50" rows="3"></textarea></p>

                <br><br>

                <p>Travel Date START:<input type="date" name="date_start"></p>
                <p>Travel Date END:<input type="date" name="date_end"></p>
                <p>Time:<input type = 'time' name= 'time'></p>



                <p>
                    <button type="submit">Add Trip</button>
                </p>
                </form>
            </div>










        </div>
    </body>
</html>